.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modalHeader h2 {
  margin: 0;
  font-size: 1.5rem;
}

.closeButton {
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  background: rgba(188, 187, 187, 0.891);
  width: 30px;
  height: 30px;
  padding: 0px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.closeButton:hover {
  background: rgba(228, 16, 16, 0.891);
  padding: 0px;
}
